<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-slides *ngIf="dataLocalService.noticias.length === 0 " [options]="sliderOpts">
    <ion-slide>
      <ion-label>NO HAY FAVORITOS</ion-label>
    </ion-slide>
  </ion-slides>

  <!-- <div *ngIf="dataLocalService.noticias.length === 0 ">NO HAY FAVORITOS</div> -->

<app-noticias *ngIf="dataLocalService.noticias.length > 0 " [noticias]="dataLocalService.noticias" [enFavorito]="true"></app-noticias>

</ion-content>
